@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

img{
  clip-path: polygon(0% 3%, 99.57% 13.18%, 100% 99.5%, 0% 90%);
}


@layer base {
  body {
    @apply bg-black text-white antialiased font-sans h-[300vh];
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }

  /* Custom Perspective Utility */
  .perspective-\[2000px\] {
    perspective: 2000px;
  }
}

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
}
